/PR19203AU06E04.class
/GUI$TextFieldHandler.class
/GUI.class
/TemperatureConversion.class
/TemperatureConversionTest.class
/PR19203AU06E04$TextFieldHandler.class
/ConversorTemperatura.class
/PR19203AU06E04Test.class
/PR19203AU06E04Demo.class
